<h1 class="page-header text-center">Welcome to the Clients page!</h1>

<p class="lead">Add a Client to the Salon and choose Stylist:</p>

<form action="/clients" method="post">

  <div class="form-group">
    <label for="name">Clients Name:</label>
    <input required id="name" name="name" type="text">
  </div>

  <div class="form-group">
    <label for="stylist">Choose your stylist!</label>
    <select name="stylist_id" class="form-row">
      <% @stylists.each() do |stylist| %>
        <option value="<%= stylist.id %>"> <%= stylist.name %> </option>
      <% end %>
    </select>
  </div>
  <button type="submit" class="btn-primary">Add Client</button>
</form>

<% if @clients.any?() %>
<br>
<div class="center">
  <p class="lead">Here are our current Clients:</p>
  <ul>
    <% @clients.each() do |client| %>
    <li><a href="/clients/<%= client.id %>"> <%= client.name %></a></li>
    <% end %>
  </ul>
</div>
<% else %>

  <h3>It appears no clients are signed up. Add a client above.</h3>

<% end %>

<a href="/">Go to Home Page</a> <br>
